@import "tailwindcss";
@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Borel&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

.css-148rb4d {
  height: 55rem;
}

/* .open {

  display: block;
}

.closed {
  display: none;
} */
