@import "tailwindcss";
@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Borel&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

@theme {
  --font-primary: "Roboto", "sans-serif";
  --font-logo: "Borel", cursive;
  --font-logoText2: "Yellowtail", cursive;
  --breakpoint-s: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --color-gradientOrange: linear-gradient(180deg, #f44e00, #fa7300);
  --color-darkOrange: #f44e00;
  --color-brightOrange: #fa7300;
  --color-brightYellow: #ded300;
  --color-vibPink: #f08;
  --color-bg: #121320;
  --color-bg-light: #171927;
}

/* style.css */

.grid-item {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.post-div {

  width: 100%;
  height: auto;
  max-width: 19rem;
  max-height: 23rem;
  cursor: pointer;
  overflow: hidden;
}

.grid-item img {

  width: 19rem;
  height: 23rem;
  object-fit: cover;
  display: block;
  transition: all 0.2s ease-in-out;

}

.grid-item video {
  transition: all 0.2s ease-in-out;

}

.grid-item:hover img {
  transform: scale(1.05);

}

.grid-item:hover video {
  transform: scale(1.05);
}

/* .video-content {
  height: 21rem;
  width: 100%;
  object-fit: cover;
} */


/*Tablets*/
@media (max-width:1024px) {
  .grid-item img {
    width: 16rem;
    height: 19rem;
  }
}


/* Tablet Portrait */
@media (max-width:768px) {
  .grid-item img {
    width: 12rem;
    height: 15rem;
  }
}

/*Mobile */
@media (max-width:640px) {
  .grid-item img {
    width: 9rem;
    height: 10rem;
  }
}